{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<h1>{{ website }} index</h1>
{% for program in programs %}
    <p>
    {{ loop.index }}  id={{ program.id }}
    <br>
    {{ program.title }} 
    <br>
    {{ program.synopsis }} 
    <br>
    {{ program.poster }}
    <br>
    {{ program.category.name }}
    <a href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>
    </p>
{% else %}
    <p>Aucune série trouvée.</p>
{% endfor %}

<pre>
    {{ dump(programs) }}
</pre>
<a href="{{ path('app_index') }}">
    Retour à l'accueil
</a>

{% endblock %}
