{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<h1>Program {{ id }}</h1>

<h1>Voici les saisons</h1>
{% for season in seasons %}
    <p>
    Saison n° {{ season.number }} 
    - Année : {{ season.year }} 
    - Description : {{ season.description }} 
    <a href="{{ path("program_season_show", { programId: program.id, seasonId: season.id }) }}">Lien vers les épisodes</a>
    </p>

{% endfor %}

<strong>Acteurs :</strong>
<ul>
    {% for actor in program.actors %}
        <li>{{ actor.name }}</li>
    {% else %}
        <li>Aucun acteur pour cette série</li>
    {% endfor %}
</ul>

<pre>
    {{ dump(program) }}
    {{ dump(seasons) }}
</pre>
{% endblock %}
